<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WTTJ Jobs Board</title>
		<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
		<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;900&display=swap"
			rel="stylesheet">
	</head>

	<body>
		<header
			style="background-color: rgba(67, 107, 189, 1); background-image: linear-gradient(rgba(84, 128, 211, 1), rgba(50, 86, 167, 1)); border-bottom: 1px solid #333">
			<div class="container">
				<h1><a href="/" style="
						font-weight: 500 !important;
						text-shadow:
							0px 0px 2px rgba(0,0,0,.67),
							0px 1px 0px rgba(0,0,0,1);
					">WTTJ Jobs Board</a></h1>
			</div>
		</header>
		<main role="main">
			<div class="container">
				<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
				<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
			</div>
			<%= @inner_content %>
		</main>

		<footer role="footer" style="border-top: 1px solid black">
			<div class="container d-flex">
				<div class="flex-fill">
					<ul>
						<li><span><%= link "▷ Jobs", to: Routes.job_path(@conn, :index) %></span></li>
						<li><span><%= link "▷ Professions", to: Routes.profession_path(@conn, :index) %></span></li>
						<li><span><%= link "▷ Categories", to: Routes.category_path(@conn, :index) %></span></li>
						<li><span><%= link "▷ Countries", to: Routes.country_path(@conn, :index) %></span></li>
					</ul>
				</div>
				<div class="flex-fill">
					<ul>
						<li><%= link "▷ Phoenix LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
					</ul>
				</div>
			</div>
		</footer>

	</body>

</html>
