@import "base";

a:hover {
  text-decoration: underline;
}

header h1 a:hover {
  text-decoration: none;
}

a[href^="http:"]::before,
a[href^="https:"]::before {
  content: "🌎\FE0F";
}

a[href^="mailto:"]::before {
  content: "📨\FE0F";
}

a[href^="tel:"]::before {
  content: "📞\FE0F ";
}

a[href^="http:"]::before,
a[href^="https:"]::before,
a[href^="mailto:"]::before,
a[href^="tel:"]::before {
  padding-right: 0.25em;
}

a[target="_blank"]::after,
a[href^="http:"]::after,
a[href^="https:"]::after,
a[href^="mailto:"]::after,
a[href^="tel:"]::after {
  content: "↗\FE0F";
  padding-left: 0.25em;
}

html {
  overflow-y: scroll;
}

header,
main,
footer {
  padding: 2rem 0;
}

main {
  padding: 2rem;
}

header {
  background: $color-primary;
  color: $color-initial;
  text-align: right;
}

header h1 {
  margin: 0;
  font-size: 167%;
}

footer {
  min-height: 33vh;
}

footer ul,
footer li {
  padding: 0;
  margin: 0;
}

footer ul {
  display: flex;
  gap: 1em;
}

footer li {
  display: inline-block;
}

ul.tiles {
  display: flex;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul.tiles li {
  display: flex;
  align-items: stretch;
  flex: 1;
  width: 22em;
  background: #f7f7f7;
  padding: 0;
  margin: 0;
}

ul.tiles li a {
  display: block;
  font-size: 167%;
  text-align: center;
  width: 100%;
  padding: 2em;
}

ul.tiles li a:hover {
  background: #eee;
  text-decoration: none;
}

.records {
  background: none;
  border: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0;
}

.records th,
.records td {
  padding: 1rem;
}

.records th {
  font-weight: bold;
}

.records th {
  text-transform: capitalize;
  background: #eee;
}

.records thead th.actions,
.records tbody td.actions {
  width: 22em;
}

div.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: -0.33em;
}

div.actions > * {
  display: block;
  margin: 0;
  flex-grow: 1;
  margin: 0.33em;
}

.paginator {
	padding: 0;
}
.paginator button,
.paginator .button {
	margin: 0;
	background: rgba(255,255,255,0.5)
}

.show.item {
  display: block;
}

.show.item li {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0.5em 1em;
}

.show.item li > span {
  flex: 1;
  min-width: 11em;
  display: block;
  text-transform: capitalize;
}

.show.item li > div {
  font-weight: 600;
  flex: 10;
  min-width: 22em;
  margin: 0;
  text-align: left;
}

.show.item li > div > img {
  display: block;
  padding: 1px;
  border: 1px solid $color-dark;
  border-radius: 2px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.records img,
.show.item li > div > img {
  display: block;
  padding: 1px;
  border: 1px solid $color-dark;
  border-radius: 2px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.records img {
  width: 20vw;
}

.records tbody tr:nth-child(even) td,
.show.item li:nth-child(odd) {
  background: #f7f7f7;
}

.records tbody tr:nth-child(odd) td,
.show.item li:nth-child(even) {
  background: #fefefe;
}

form {
  margin: 0;
  padding: 0;
}

label {
  text-transform: capitalize;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  display: inline-block;
}

legend {
	padding: 0 .67em;
	margin-left: -2em;
}

fieldset {
	border: 1px solid $color-quaternary;
	padding: .5em 1.33em;
	padding-bottom: .5em;
	margin-left: 0;
	margin-right: 0;
	border-radius: 4px;
}

fieldset.checkbox {
  border: 0;
  margin: 0;
  padding: 0;
}

div.actions {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

table div.actions {
  padding: 0;
}

table.scaled-down {
  font-size: 67%;
}

.tooltip,
#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  line-height: 125%;
  padding: 0.25em 0.4em;
  border-radius: 2px;
  background: rgba(33, 33, 33, 0.67);
  background: rgba(255, 255, 255, 0.67);
  backdrop-filter: blur(20px) contrast(0.67) saturate(400%);
  font-weight: 500 !important;
  color: #444;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5),
    0px -1px 0.67px rgba(0, 0, 0, 1);
}

.tooltip.active,
#tooltip.active {
  width: auto;
  display: inline-block !important;
}
