<div class="container">

	<h1>Import Countries</h1>

	<%= form_for @conn, Routes.country_path(@conn, :save_import), [multipart: true], fn f-> %>

	<%= label f, :upload, "JSON File" %>
	<%= file_input f, :upload %>

	<div class="actions">
		<%= link "Back", to: Routes.country_path(@conn, :index), class: "button button-outline" %>
		<%= submit "Import" %>
	</div>
	<% end %>

</div>
