<h1>New Profession</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.profession_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.profession_path(@conn, :index), class: 'button button-outline' %></span>
